.review-card {
  max-width: 548px;
  width: 100%;
  background: linear-gradient(
    -3deg,
    rgba(17, 24, 42, 0) 0%,
    rgba(17, 24, 42, 1) 100%
  );

  border-radius: 38px;
  padding: 38px 57px 34px 67px;
}

.review-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
.review-card {
  margin: 92px 0px 43px 0px;
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .review-card{
        padding: 20px 15px 20px 18px;
        width: 90%;
    }
 }